h1{
    color: #ff15ff;
    font-size: 60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: black;
}

p{
    //background-color:azure;
}

body{
    background-image: url(../images/01.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
}